.cake-image{
    width: 100vw;
    height: 600px;
    margin-top: 50px;
    display: block;
    
}


.hero-text{
    position: absolute;
    top: 60px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 50%;
}

.hero-button{
    background-color: #c78b95;
    padding: 5px 10px; 
    border: none;  
    color: white;
    margin-top: 13px;
}

@media(max-width: 768px){
    
    .hero-text{
        margin: 0 auto;
        margin-top: 18px;
    }
    .hero-button{
        margin-bottom: 1rem;
    }
}



@media (width <= 459px) {
  .hero-text{
    margin: 0 auto;
    margin-top: 60px; 
  }
}

@media  (min-width: 912px) and 
(min-width: 853px) {
    .hero-text{
        margin: 0 auto;
    }
}

@media(min-width: 1024px){
    
    .hero-text{
        padding-right: 130px;
        
    }
}
@media(max-width:1280px){
    .cake-image{
        max-width: 1400px;
    }
    .hero-text{
        padding-right: 250px;
    }
}