.cake-image{
    width: 100vw;
    height: 600px;
    margin-top: 50px;
    display: block;
    
}
.content-text{
    position: absolute;
    top: 60px;
    right: 100px;
    color: black;
}
.content{
    position: relative;
}

.content-button{
    background-color: pink;
    border: none;
    
    padding: 10px 20px;
    margin-top: 20px;
    
}
.content2{
    background-color: lightpink;
    width: 100vw;
}

.content2-title{
    text-align: center;
    
    font-size: 30px;  
}

.content2{
    display: flex;
    gap: 16px;
    
}

.card{
    flex: 1;  
    width: 100%;
    margin-top: 200px;
}

.card img{
    width: 300px;
    height: auto;
     
}


