

.content{
    position: relative; 
}

.content-text{
    position: absolute;
    top: 60px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 50%;
}

.contentBtn{
    background-color: #DDBFC4;
    padding: 5px 10px; 
    border: none;  
}
.button{
    background-color: #FFCCCC;
    border: none;
    padding: 5px 10px;
}
.buttonT{
    background-color: #C95C7A;
    padding: 5px 10px;
    border: none;
}
.content2{
    background-color: #efc7c5;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content2-title{
    text-align: center;   
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    display: flex;
    width: 900px;
    gap: 20px;
}

.card img{
    width: 300px;
    height: 300px;  
    object-fit: cover;
    gap: 20px;
}

.content2-text{
     display : flex;
     justify-content: center;
     background-color: #FDFFF5;
     width: 100vw;
     gap: 16px
     
}

.content2-text1{
     flex: 1;
    max-width: 300px;
    text-align: center;
}

.content2-tetx2{
    text-align: center;

}
.content3{
    align-items: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #FDFFF5;

}
.content3-title{
    color: #DAC395;
    font-family: 'Times New Roman', Times, serif;

}
.content3-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.content3-cards img{
    width: 300px;
    height: 400px;
    gap: 20px;
}

@media(max-width: 767px){
    .card{
        flex-direction: column;
        align-items: center;
    }  
    .content2-text{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;     
    } 
    .content3-cards{
        flex-direction: column;
    }
    .contentBtn{
        height: 37px;
        
    }
    .button{
        height: 37px;
        
    }
    .buttonT{
        height: 40px;
        
    }
}

@media(max-width: 1023){
    .cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 45%;
    }
}