nav{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100% ;   
    display: flex;
    background-color: lightpink;
    
}
.logo{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.link{
    text-decoration: none;
    color:black;
    padding: 5px 10px;
    cursor: pointer;
    
}
.link:hover{
    transition-duration: 0.4s;
    background-color: pink;
    color: white;
}

.contact{
    background-color: white;
    border: none;
    padding: 5px 10px;    
}
.contact:hover{
    background-color: pink;
    color: black;
}

@media (max-width: 1023px){
    nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    

}
