footer{
    position: absolute;
    width: 100vw;
    height: 150px;
    bottom: 0;
    background-color: white;

}

.footer-container{
    display: flex;
    gap: 90px;
    justify-content: center;

}
footer{
    flex: 1;
}

.footer img{
    width: 200px;

}
.footer-image{
    background-color: #F8F8FF;
    align-self: center;
}
.footer-img{
    width: 30px;
    height: 30px;
    gap: 5px;
    padding: 5px 5px;   
    align-items: center;
    opacity: 1;
    transition: opacity o.3s ease-out;
}
.footer-img:hover{
    opacity: 0.5; 
}